body, html {
    margin: 0;
    padding: 0;
}

/* Landing Page Styles */
.landing-page {
    height: 100vh;
    /**background-image: url('landing-page-background.jpg');**/
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px; /* Adjust the size as needed */
    height: 200px;
    cursor: pointer;
}